.login {
    background-color: whitesmoke;
    border-radius: 4px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    border: solid 1px white;
    width: 285px;
    // margin-top: 25px;
}
