<div id="logo" class="container-fluid display-flex justify-content-center animate__animated animate__fadeIn" [ngStyle]="{'width': '300px'}">

</div>

<div class="container-fluid p-2  d-flex justify-content-center align-items-center  ">
    <div class="login">
        <h3><strong>Login</strong></h3>
        <hr>
        <div class="fomrms ">
            <label for="name">Nombre:</label>
            <input type="text" [(ngModel)]="name_user" name="name_user" class="form-control" id="name" (change)="getTok('0', name_user, 1)">
        </div>

        <div class="fomrms mt-2">
            <label for="pass">Password:</label>
            <input type="password" [(ngModel)]="pass_user" name="pass_user" class="form-control" id="pass">
        </div>

        <div class="fomrms mt-2">
            <label for="tok">Token-access:</label>
            <input disabled type="text" [(ngModel)]="token_user" name="token_user" class="form-control" id="tok">
        </div>

        <div>
            <button class="btn btn-success mt-3" (click)="logeo()">
              Ingresar!
            </button>
        </div>

    </div>
</div>
<div class="container d-flex justify-content-center">
    <app-versionamiento></app-versionamiento>
</div>
