<p class="txt d-flex align-items-center">
    <mat-icon>military_tech</mat-icon>
    Tareas terminadas - [ {{cantNotB}} ]

</p>
<table class=" table table-striped table-hover table-success w-100">

    <thead>
        <th>Título</th>
        <th>Descripción</th>
        <th>T. Real</th>
        <th>Costo</th>
        <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let a of arrNotesGetB" [ngStyle]="{'background': a.color_clas}">
            <td> {{ a.name_notes }} </td>
            <td> {{ a.des_notes }} </td>
            <td> {{ a.date_notes_real | date: 'short' }} </td>
            <td> {{ a.rec_fin | number: '1.2' }} </td>
            <td class='btnDel' (click)="dNotes(a.id)">
                <mat-icon>remove_circle_outline</mat-icon>
            </td>
        </tr>
    </tbody>

</table>
